{
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-runtime"
  ],
  "env": {
    "development": {
      "plugins": [],
      "sourceMaps": "inline"
    },
    "production": {
      "presets": ["es2015"],
      "plugins": []
    },
    "test": {
      "plugins": ["babel-plugin-transform-es2015-modules-commonjs"]
    }
  }
}