nav.passageTabs
    span.passageTabs-item.btn.back
        router-link("v-bind:to"="{name: 'stories'}", title="Back to stories list") &lt;&lt;

    span.passageTabs-section(v-if="story")
        router-link.passageTabs-item.special("v-bind:to"="{name: 'overview', params: {ifid: ifid}}", tag="span")
            a Overview

        special-tab(v-if="stylesheetEditing", ":route-name"="'stylesheet'", ":title"="'Style'", ":close"="closeStylesheetAndGoBack", ":ifid"="ifid")
        special-tab(v-if="scriptEditing", ":route-name"="'script'", ":title"="'Script'", ":close"="closeScriptAndGoBack", ":ifid"="ifid")
        special-tab(v-if="htmlEditing", ":route-name"="'html'", ":title"="'HTML'", ":close"="closeHtmlAndGoBack", ":ifid"="ifid")
        special-tab(v-if="proofReadEditing", ":route-name"="'proofRead'", ":title"="'Proof-read'", ":close"="closeProofReadAndGoBack", ":ifid"="ifid")

    span.passageTabs-section(v-if="story")
        router-link.passageTabs-item.passage(v-for="tab of tabs", :key="tab.pid", tag="span", "v-bind:to"="{name: 'passage', params: {pid: tab.pid, ifid: ifid}}")
            a(":title"="tabTitle(tab)") {{tab.title}}
            i.fa.fa-times-circle.activeIcon.danger.passageTabs-close("@click"="closePassageAndGoBack(tab.pid)")

    span.passageTabs-section(v-if="story")
        span.passageTabs-item.btn.addPassage
            a("@click"="addPassage") Add passage
