.widget.storyListItem
    .widget-header
        .widget-title("v-bind:title"="story.title", "v-bind:class"="{editing: editing}")
            a.storyListItem-link(v-link="{name: 'story', params: {ifid: story.ifid}}") {{ story.title }}
            input.storyListItem-input("v-bind:value.once"="story.title", "@keydown"="processTitleEdit", "@blur"="onBlur", "v-el:input"="")
            span.fa.fa-pencil.activeIcon.storyListItem-editBtn("@click"="toggleEditing", title="Rename story")
        .widget-controls
            .widget-controlIcons
                span.fa.fa-files-o.activeIcon(title="Duplicate story", "@click"="duplicateStory(story.ifid)")
                a(v-link="{name: 'deleteStory', params: {ifid: story.ifid}}", title="Delete story")
                    span.fa.fa-trash.activeIcon.danger
                a(v-link="{name: 'proofRead', params: {ifid: story.ifid}}", title="Proof-read mode")
                    span.fa.fa-pencil-square-o
    .widget-body
        story-stats("v-bind:stats"="story.stats").lighter