article.widget.lighter.screen.storyList
    .widget-header
        h2.widget-title List of stories
        .widget-controls
            sorter-buttons(:sort-properties="sortProperties", @sort="setStoriesSorting")
    .widget-body.storyList-body
        story-list-item(v-for="story of storiesList", :story="story", :key="story.ifid")

        story-add.storyListItem

    .widget-footer.widget-controlIcons
        router-link(:to="{name: 'settings'}")
            i.fa.fa-cog
            | Settings

        a(:href="bugs.url", target="_blank")
            i.fa.fa-bug
            | Report a bug
