article.widget.lighter.screen.storyList
    .widget-header
        h2.widget-title List of stories
        .widget-controls
            sorter-buttons("v-bind:sort-properties"="sortProperties", "@sort"="setStoriesSorting")
    .widget-body.storyList-body
        story-list-item(v-for="story of storiesList", "v-bind:story"="story")

        story-add.storyListItem

    .widget-footer.widget-controlIcons
        a(v-link="{name: 'settings'}")
            i.fa.fa-cog
            | Settings

        a("v-bind:href"="bugs.url", target="_blank")
            i.fa.fa-bug
            | Report a bug
