nav.aifeTabs
    span.aifeTabs-item.btn.back
        a(v-link="{name: 'stories'}", title="Back to stories list") &lt;&lt;

    span.aifeTabs-section(v-if="story")
        span.aifeTabs-item.special(v-link-active)
            a(v-link="{name: 'story'}") Overview

        special-tab(v-if="scriptEditing", ":route-name"="'script'", ":title"="'Script'", ":close"="closeScriptAndGoBack")
        special-tab(v-if="stylesheetEditing", ":route-name"="'stylesheet'", ":title"="'Style'", ":close"="closeStylesheetAndGoBack")
        special-tab(v-if="htmlEditing", ":route-name"="'html'", ":title"="'HTML'", ":close"="closeHtmlAndGoBack")
        special-tab(v-if="proofReadEditing", ":route-name"="'proofRead'", ":title"="'Proof-read'", ":close"="closeProofReadAndGoBack")

    span.aifeTabs-section(v-if="story")
        span.aifeTabs-item.passage(v-for="tab of tabs", track-by="pid", v-link-active)
            a(v-link="{name: 'passage', params: {pid: tab.pid}}", ":title"="tabTitle(tab)") {{tab.title}}
            i.fa.fa-times-circle.activeIcon.danger.aifeTabs-close("@click"="closePassageAndGoBack(tab.pid)")

    span.aifeTabs-section(v-if="story")
        span.aifeTabs-item.btn.addPassage
            a("@click"="addPassage") Add passage
