@import '../../../styles/colors.styl'

.aifeTabs
    margin: 1ex 0
    padding: 1ex 0 0;
    border-bottom: 1px solid silver
    overflow-y: hidden

    a, a:hover
        text-decoration: none

    &-section
        display: inline-block
        margin-right: 1ex

    &-item
        display: inline-block
        background-color: gainsboro
        border: 1px solid gainsboro
        border-radius: 4px 4px 0 0
        border-bottom: 0 none
        padding: 0.5ex 1ex
        margin-right: 1px
        vertical-align: top

        &.active
            background-color: white
            border: 1px solid silver
            border-bottom: 0 none

        &.special
            font-weight: bold

        &.btn
            cursor: pointer
            &.back
                margin-right: 1ex

        &.special + &.passage
            margin-left: 1ex

        a
            display: inline-block
            max-width: 12em
            vertical-align: top
            text-overflow: ellipsis
            overflow: hidden
            white-space: nowrap

    &-close
        display: inline-block
        margin-left: 1ex
        vertical-align: middle
        line-height: 14.3px
