.aifeTabs
    margin: 1ex 0
    padding: 1ex 0 0.5ex;
    border-bottom: 1px solid silver
    overflow-y: hidden

    a, a:hover
        text-decoration: none

    &-item
        background-color: gainsboro
        border: 1px solid gainsboro
        border-radius: 4px 4px 0 0
        border-bottom: 0 none
        padding: 1ex
        margin-right: 1px

        &.active
            background-color: white
            border: 1px solid silver
            border-bottom: 0 none

        &.special
            font-weight: bold

        &.btn
            border-radius: 4px;

        &.addPassage
            margin-left: 1ex

        &.special + &.passage
            margin-left: 1ex

    &-close
        display: inline-block
        width: 1.5em
        height: 1.5em
        margin-left: 0.5 ex
        text-align: center
        border: 0 solid silver
        background: darkred
        color: white
        border-radius: 4px
        opacity: 0.65
        line-height: 1.5em
        &:hover
            text-decoration: none

    &-item:hover .aifeTabs-close
        opacity: 1
