nav.aifeTabs
    span.aifeTabs-item.btn.back
        a(v-link="{name: 'stories'}", title="Back to stories list") &lt;&lt;

    span.aifeTabs-section(v-if="story")
        span.aifeTabs-item.special(v-link-active)
            a(v-link="{name: 'story'}") Overview

        span.aifeTabs-item.special(v-if="editScript", v-link-active)
            a(v-link="{name: 'script'}") Script
            i.fa.fa-times-circle.activeIcon.danger.aifeTabs-close("@click"="closeScriptAndGoBack")
        span.aifeTabs-item.special(v-if="editStylesheet", v-link-active)
            a(v-link="{name: 'stylesheet'}") Style
            i.fa.fa-times-circle.activeIcon.danger.aifeTabs-close("@click"="closeStylesheetAndGoBack")
        span.aifeTabs-item.special(v-if="editHtml", v-link-active)
            a(v-link="{name: 'html'}") HTML
            i.fa.fa-times-circle.activeIcon.danger.aifeTabs-close("@click"="closeHtmlAndGoBack")
        span.aifeTabs-item.special(v-if="proofRead", v-link-active)
            a(v-link="{name: 'proofRead'}") Proof-read
            i.fa.fa-times-circle.activeIcon.danger.aifeTabs-close("@click"="closeProofReadAndGoBack")

    span.aifeTabs-section(v-if="story")
        span.aifeTabs-item.passage(v-for="tab of tabs", track-by="pid", v-link-active)
            a(v-link="{name: 'passage', params: {pid: tab.pid}}", v-bind:title="tabTitle(tab)") {{tab.title}}
            i.fa.fa-times-circle.activeIcon.danger.aifeTabs-close("@click"="closePassageAndGoBack(tab.pid)")

    span.aifeTabs-section(v-if="story")
        span.aifeTabs-item.btn.addPassage
            a("@click"="addPassage") Add passage
