// Icon representing button
.activeIcon
    color: #337ab7;
    cursor: pointer

    &:hover, &:focus
        color: #23527c

    &.danger
        color: #d9534f
        &:hover, &:focus
            color: #c9302c
