// Icon representing button
@import './colors'

.activeIcon
    color: color-link;
    cursor: pointer

    &:hover, &:focus
        color: color-link2

    &.danger
        color: color-danger
        &:hover, &:focus
            color: color-danger2
