div.codeArea,
textarea.codeArea
    outline: 1px solid silver
    border-radius: 2px
    &.error
        outline-color: red

label.codeArea
    display: flex
    flex-direction column

div.codeArea
    &.mirror
        flex-grow: 1
        overflow: hidden