div.codeArea,
textarea.codeArea
    width: 100%
    border: 1px solid silver
    border-radius: 2px
    &.error
        outline-color: red

label.codeArea
    display: flex
    flex-direction column
    flex-grow: 100

div.codeArea
    &.mirror
        flex-grow: 100
        overflow: hidden

