@import './colors'

.deleter
    &-notice
        margin-bottom: 1em

    &-cancel
        margin-right: 2em

    &-confirm
        background: color-danger
        border-radius: 2px
        border: 0 none silver
        color: white
        cursor: pointer

        &:hover, &:focus
            background-color: color-danger2