.storyList
    & > &-body
        padding-left: 1ex
        padding-right: 1ex
        flex-direction: row !important
        flex-wrap: wrap
        align-items: flex-start
        align-content: flex-start

    &-item
        size = 14em
        display: inline-block
        width: size * 1.62
        height: size
        overflow-y: auto
        margin: 0 1ex 1ex 0
        vertical-align: top