.widget
    display: flex
    justify-content: space-between
    flex-direction: column
    border: 1px solid silver
    border-radius: 2px

    &-header,
    &-footer
        display: flex
        flex-direction: row
        align-items: center
        background-color: silver

    &-header
        justify-content: space-between

    &-footer
        justify-content: flex-end

    &-header,
    &-body,
    &-footer
        padding-left: 1ex
        padding-right: 1ex
        padding-top: 0.5em
        padding-bottom: 0.5em

    &-title
        display: flex
        align-items: center


    &.collapsed > &-body
        display: none;

    &.laconic > &-footer
        display: none;

    &.lighter > &-header,
    &.lighter > &-footer
        background-color: whitesmoke

    &.lighter
        border-color: gainsboro

    &-controlIcons
        a, span
            margin-left: 1ex
        a > i
            margin-right: 1ex


    &.screen
        height: 100%
        border: 0 none

    &.screen > &-footer
        justify-content: flex-start
        flex-shrink: 0

    &.screen > &-body
        display: flex
        flex-grow: 1
        flex-direction: column
