@import '/node_modules/normalize.css/normalize.css';
@import '/node_modules/font-awesome/css/font-awesome.css';

@import './styles/colors';

* {
    box-sizing: border-box
}

html
    font-size: 10px
    height: 100%

body
    font-family: Helvetica, Arial, sans-serif
    font-size: 14px
    line-height: 1.42857143
    background-color: #fff
    color: green
    height: 100%

.aifeWrapper
    padding: 0 15px
    margin: auto
    height: 100%

a
    color: color-link
    &.visited, &:hover
        color: color-link2

p
    margin: 0 0 1ex

dl
    margin-top: 0

h1, h2, h3, h4, h5, h6
    font-weight: bold
    line-height: 1.1

h1
    font-size: 36px
h2
    font-size: 30px
h3
    font-size: 24px
h4
    font-size: 18px
h5
    font-size: 18px
h6
    font-size: 18px

@import '/node_modules/codemirror/lib/codemirror.css';

@import './styles/widget';
@import './styles/activeIcon';
@import './styles/deleter';
@import './styles/codeArea';