* {
    box-sizing: border-box
}

html
    font-size: 10px

body
    font-family: Helvetica, Arial, sans-serif
    font-size: 14px
    line-height: 1.42857143
    background-color: #fff
    color: green

.aifeWrapper
    padding: 0 15px
    margin: auto

@import '/node_modules/codemirror/lib/codemirror.css';

@import './styles/widget';
@import './styles/activeIcon';
@import './styles/deleter';
@import './styles/codeArea';